{% extends "base.html" %}

{% block content %}
<section class="clean-block clean-info dark">
  <div class="container">
    {% for post in posts %}
    <div class="row align-items-left noticias_espacamento">
      <div class="col-md-2"><img class="img-thumbnail" src="{{url_for('static', filename='images/'+post.image)}}"></div>
      <div class="col-md-2">
        <h5>{{post.title}}</h5>
        <div class="getting-started-info noticias_resumo">
          <p>{{post.preview}}</p>
        </div>
        <a href="{{url_for('post.post',id = post.id)}}"><button class="btn btn-primary btn-sm" type="button" href>Ver mais</button></a>
        {% if current_user.is_authenticated %}
        {% if current_user.admin %}
        <a href="{{url_for('post.editor',id = post.id)}}"><button class="btn btn-primary btn-sm" type="button" href>Editar</button></a>
        {% endif %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}