{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{url_for('static', filename='images/'+post.image)}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.preview}}</p>
        <a href="{{url_for('post.post',id = post.id)}}" class="btn btn-primary">Read</a>
        {% if current_user.is_authenticated %}
        {% if current_user.admin %}
        <a href="{{url_for('post.editor',id = post.id)}}" class="btn btn-primary">Edit</a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}