{% extends "base_forms.html" %}

{% block content %}
<section class="clean-block clean-info dark">
  <div class="container">
      <div class="block-heading">
          <h2 class="text-info">{{post.title}}</h2>
          <img class="img-thumbnail col-md-10" src="{{url_for('static', filename='images/'+post.image)}}">
      </div>
      <div class="getting-started-info">
          <p>{{post.body}}</p>
      </div>
      <div>
          <a href="{{ url_for('main.index') }}"><button class="btn btn-primary btn-sm" type="button" href>Voltar</button></a>
      </div>
  </div>
</section>
{% endblock %}